body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(182, 255, 113);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  height: 100px;
  line-height: 100px;
  color: black;
  background-color: rgb(137, 238, 44);
}

.header--title{
  vertical-align: middle;
  padding: 20px;
  font-size: 50px;
}

.header--subtitle {
  vertical-align: middle;
  margin-left: auto;
  padding: 20px;
}

.header-img {
 height: 100%; 
 margin-right: 5px;
}

.parentCard {
  display: flex;
  justify-content: center;
}

.card {
  height: 400px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  outline-style: groove;
  margin: 1em;
  padding: 1em;
  background-color: rgb(215, 250, 183);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardTitle{
  text-align: center;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.nutritionTable, th, td{
  border: 1px solid black;
  padding: 1px;
  border-spacing: 3px;
}

.randomizeRecipeButton {
  display: flex;
  justify-content: center;
  padding: 10px;
}
